<%- include('header') %>
    <div>
        <h1>This is a page created to keep you on track</h1>
    </div>
    <p>dkfnskjdbjh dsfjhagsdbfsajdfjhdsfbsjdc hjbhfbsadhf </p>
    <footer>
        <a href="/">back</a>
    </footer>
<%- include('footer') %>